body{
    background-image: url("images/triangle-mosaic.png");
}

.card-panel{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #1f1b1b;
    position: relative;
    text-align: center;
    background-color: lightgray;
    width: 960px;
    height: 560px;
    margin-bottom: 130px;
    margin-top: 100px;
    border: 5px #313e50 solid;
}

.text-justify{
    margin-top: 30px;
    font-size: 18px;
    padding-right: 5px;
    padding-left: 5px;
}

.paragraph1{
    margin-right: 30px;
}

.about-heading, .contact-heading{
    margin-top: 15px;
    font-size: 38px;
    color: #313e50;
}

.contact-panel{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    background-color: lightgray;
    width: 1160px;
    height: 560px;
    margin-top: 75px;
    color: #475b5a;
    border: #475b5a 5px solid;
    font-size: 18px;
}

form{
    padding: 10px;
    margin-top: 40px;
}

.contact-heading{
    margin-left: 50px;
}

.figure-img{
    border: #475b5a 2px solid;
}

footer{
    text-align: center;
   
}

.navbar{
    color: white;
}

.card{
    height: 400px;
}

